$lightbackground: #ffffff;
$buttoncolor1: #5a3ac7;
$buttoncolor2: #4c40f8;
$buttondark: #082032;

$primarylight: #3c83f3;
$primarydark: #2061cd;
$lightgrey: #72777e;
$lightwhite: #ffffff;
$lightblack: #2c394b;
